<a href="https://colab.research.google.com/github/asaitej1/data690_Sai-Teja/blob/main/assignment_05/assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df = pd.read_csv("MERGED2017_18_PP.csv")
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0       100654   100200  ...                       NaN            NaN
1       100663   105200  ...                       NaN            NaN
2       100690  2503400  ...                       NaN            NaN
3       100706   105500  ...                       NaN            NaN
4       100724   100500  ...                       NaN            NaN
...        ...      ...  ...                       ...            ...
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[7112 rows x 1986 columns]

# Number Of Rows in the Dataframe

In [6]:
print(len(df))

7112

# Number of Columns in Dataframe

In [7]:
print(len(df.columns))

1986

# Number of Rows and Columns(Number of Rows, Number of Columns)

In [8]:
print(df.shape)

(7112, 1986)

# First 5 Colleges

In [9]:
df.head(5)

   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                       NaN            NaN
1  100663   105200  ...                       NaN            NaN
2  100690  2503400  ...                       NaN            NaN
3  100706   105500  ...                       NaN            NaN
4  100724   100500  ...                       NaN            NaN

[5 rows x 1986 columns]

# Last 5 Colleges

In [10]:
df.tail(5)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[5 rows x 1986 columns]

# Random Sample Of 5 Colleges

In [11]:
df.sample(5)

      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
1502  164216   210800  ...                       NaN            NaN
657   132374  1226300  ...                       NaN            NaN
507   125231  2504200  ...                       NaN            NaN
5709  459204  4169700  ...                       NaN            NaN
2990  212197   326200  ...                       NaN            NaN

[5 rows x 1986 columns]

# Creation Of Smaller Dataframe with the given 9 Variables or Columns

In [12]:
df1 = df[['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10']]
print(df1.head())

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN

[5 rows x 9 columns]

# Definitions of the 9 Variables/Columns
- UNTID:- **UNITID** is a Unique Identification number assigned to postsecondary institutions.
- INSTNM:- **INSTNM** represents the name of the institution.
- CITY:- **CITY** includes all the cities in which each Institution is located.
- STABBR:- Represents the location of the institution.
- ZIP:- Includes the area code or **Zip** code of that particular institution.
- ADM_RATE:- **ADM_RATE** includes the admissions rate at each campus.
- UGDS:- **UGDS** includes the total enrollment of Undergraduate Degree-Seeking students.
TUITIONFEE_IN:- Includes the in-state tutiton fee details of the students
- MN_EARN_WNE_P:- **MN_EARN_WNE_P** earnings are for the institutional aggregate of all federally aided students who enroll in an institution each year.

# Exploration Of Smaller Dataframe

## First 10 Colleges

In [38]:
df1.head(10)

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN
5  100751            The University of Alabama  ...       10780.0             NaN
6  100760    Central Alabama Community College  ...        4440.0             NaN
7  100812              Athens State University  ...           NaN             NaN
8  100830      Auburn University at Montgomery  ...        8020.0             NaN
9  100858                    Auburn University  ...       10968.0             NaN

[10 rows x 9 columns]

## Last 10 Colleges

In [39]:
df1.tail(10)

        UNITID  ... MN_EARN_WNE_P10
7102  48154401  ...             NaN
7103  48305401  ...             NaN
7104  48312401  ...             NaN
7105  48312402  ...             NaN
7106  48312403  ...             NaN
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[10 rows x 9 columns]

## Random Sample of 10 Colleges

In [40]:
df1.sample(10)

      UNITID  ... MN_EARN_WNE_P10
3413  223472  ...             NaN
3954  242954  ...             NaN
3982  243823  ...             NaN
47    102058  ...             NaN
988   146454  ...             NaN
838   139995  ...             NaN
6536  488369  ...             NaN
4047  249140  ...             NaN
4490  414063  ...             NaN
3674  232982  ...             NaN

[10 rows x 9 columns]

## Finding UMBC

In [41]:
df2 = pd.DataFrame(columns=['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10'])

In [42]:
for i in range(len(df1)):
  if df1.loc[i,'INSTNM'] == 'University of Maryland-Baltimore County':
    print(df1.loc[i])
    df2 = df2.append(df1.loc[i])

UNITID                                              163268
INSTNM             University of Maryland-Baltimore County
CITY                                             Baltimore
STABBR                                                  MD
ZIP                                                  21250
ADM_RATE                                            0.6021
UGDS                                                 11130
TUITIONFEE_IN                                        11518
MN_EARN_WNE_P10                                        NaN
Name: 1478, dtype: object

## Finding University of Maryland College Park

In [43]:
for i in range(len(df1)):
  if df1.loc[i,'INSTNM'] == 'University of Maryland-College Park':
    print(df1.loc[i])
    df2 = df2.append(df1.loc[i])

UNITID                                          163286
INSTNM             University of Maryland-College Park
CITY                                      College Park
STABBR                                              MD
ZIP                                              20742
ADM_RATE                                         0.445
UGDS                                             29273
TUITIONFEE_IN                                    10399
MN_EARN_WNE_P10                                    NaN
Name: 1479, dtype: object

## Finding Loyola College Maryland

In [44]:
for i in range(len(df1)):
  if df1.loc[i,'INSTNM'] == 'Loyola University Maryland':
    print(df1.loc[i])
    df2 = df2.append(df1.loc[i])

UNITID                                 163046
INSTNM             Loyola University Maryland
CITY                                Baltimore
STABBR                                     MD
ZIP                                21210-2699
ADM_RATE                               0.7528
UGDS                                     3903
TUITIONFEE_IN                           47560
MN_EARN_WNE_P10                           NaN
Name: 1475, dtype: object

## Finding Johns Hopskins

In [45]:
for i in range(len(df1)):
  if df1.loc[i,'INSTNM'] == 'Johns Hopkins University':
    print(df1.loc[i])
    df2 = df2.append(df1.loc[i])

UNITID                               162928
INSTNM             Johns Hopkins University
CITY                              Baltimore
STABBR                                   MD
ZIP                              21218-2688
ADM_RATE                             0.1254
UGDS                                   5663
TUITIONFEE_IN                         52170
MN_EARN_WNE_P10                         NaN
Name: 1473, dtype: object

## Calculating the min, max, and average in-state tution of the above four institutions.

In [46]:
print(df2['TUITIONFEE_IN'].min())
print(df2['TUITIONFEE_IN'].max())
print(df2['TUITIONFEE_IN'].mean())

10399.0
52170.0
30411.75

## Colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia

In [28]:
result=pd.DataFrame(columns=['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10'])
states = ['VA','MD','WA','PA','DE']
for j in range(len(df1)):
  if df1.loc[j,'STABBR'] in states:
    result = result.append(df1.loc[j])

In [29]:
result.to_csv("Five_States_Colleges.csv")